.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

bin/
obj/

2D-Maki.rsp
2D-Itako.rsp
.tmp/
pack/